.services{
    margin: 50px 0;

    .title{
        font-family: sans-serif;
        position: relative;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 60px;
        padding-bottom: 20px;
        color: var(--blue);
    }
    .title::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 180px;
        height: 3px;
        background: var(--blue);
        transform: translateX(-50%);
    }
    
    .title::after{
        content: "What I Provide";
        position: absolute;
        bottom:-12px;
        left: 50%;
        font-size: 20px;
        color: #fff;
        padding: 5px;
        background:var(--dark-navy);
        transform: translateX(-50%);
    }

    .serv-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .serv-content .card{
        background-color: var(--light-navy);
        width: calc(33% - 20px);
        min-height: 400px;
        text-align: center;
        border-radius: 6px;
        padding: 20px 25px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 10px;
    }
    
    .serv-content .card:hover{
        transform: translateY(-20px);
    }
    
    .serv-content .card .box{
        transition: all 0.3s ease;
    }
    
    .serv-content .card:hover .box{
        transform: scale(1.05);
    }
    
    .serv-content .card i{
        color: var(--green);
        font-size: 50px;
    }
    
    .serv-content .card:hover i{
        color: var(--green);
    } 
    
    .serv-content .card .text{
        font-size: 25px;
        margin: 10px;
        color: var(--blue);
    }
    
    .serv-content .card p{
        line-height: 35px;
        word-break: keep-all;
        color: var(--light-slate);
    }
    
    .serv-content .card:hover p span{
        color: var(--green);
    }
}

@media screen and (max-width:600px){
    .services{
        .serv-content .card{
            width: 100%;
            font-size: var(--fz-md);
        }
    }
}