
.about .title{
    font-family: sans-serif;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: var(--blue);
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: var(--blue);
    transform: translateX(-50%);
}

.about .title::after{
    content: "Who Am I";
    position: absolute;
    bottom:-12px;
    left: 50%;
    font-size: 20px;
    color: #fff;
    padding: 5px;
    background:var(--dark-navy);
    transform: translateX(-50%);
}

.about{
    margin: 10px 0;
    padding: 20px;
    &-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &-info{
        width: 60%;
        color: var(--dark-slate);
        line-height: 1.5;
        letter-spacing: 2px;
        font-size: var(--fz-lg);
        padding: 10px;
          
        .coding_platforms{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            a{
                padding: 10px 30px;
                border: 1px solid transparent;
                border-radius: 10px;
                transition: all .3s ease;
                color: #fff;
            }
            .hackerrank{
                background-color: #2ecc71;
                 &:hover{
                     background-color: transparent;
                     color: #2ecc71;
                     border: 1px solid #2ecc71;
                 }
            }
            .leetcode{
                background-color: #f5b051;
                 &:hover{
                     background-color: transparent;
                     color: #f5b051;
                     border: 1px solid #f5b051;
                 }
            }
            .github{
                background-color: #222;
                 &:hover{
                     background-color: transparent;
                     color: var(--light-slate);
                     border: 1px solid #222;
                 }
            }
        }
    }

    &-pic{
        width: 40%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 10px;
        img{
            width: 450px;
            height: 450px;
            object-fit: cover;
            border-radius: 10px;
            position: relative;
            right: 0;
            transition: transform .2s;
            &:hover{
                transform: translate(10px,-10px);
            }
        }
    }
}

.wrapper{
    position: relative;
    margin: 10px 0;
    .link_wrapper{
        position: relative;
      }
      
      a{
        display: block;
        width: 250px;
        height: 50px;
        line-height: 50px;
        font-weight: bold;
        text-decoration: none;
        background: var(--lightest-navy);
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 3px solid var(--lightest-navy);
        transition: all .35s;
      }
      
      .icon{
        width: 50px;
        height: 50px;
        border: 3px solid transparent;
        position: relative;
        transform: rotate(45deg);
        right: 0;
        top: -50px;
        z-index: -1;
        transition: all .35s;
      }
      
      .icon svg{
        width: 30px;
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        transform: rotate(-45deg);
        fill: #2ecc71;
        transition: all .35s;
      }
      
      a:hover{
        width: 200px;
        border: 3px solid #2ecc71;
        background: transparent;
        color: #2ecc71;
      }
      
      a:hover + .icon{
        border: 3px solid #2ecc71;
        right: -28%;
      }
  }

  @media screen and (max-width:600px){
      .about{
          &-container{
              flex-direction: column-reverse;

              .wrapper a{
                  width: 100%;
                  height: 100%;
                  font-size: var(--fz-md);
                  line-height: 40px;
              }
          }

          &-info{
              width: 100%;
              font-size: var(--fz-md);

              .coding_platforms{
                  a{
                      width: 100%;
                      text-align: center;
                      margin: 10px;
                  }
              }
              
          }
          &-pic{
            display: none;
          }
      }
  }
  
