.footer{
    padding: 20px;
    text-align: center;
    &-social{
        display: none;
    }
    .footer_ele{
        text-align: center;
        font-size: 15px;
        color: var(--lightest-slate);
        font-weight: 500;
        &:hover{
            color: var(--green);
            text-decoration: none;
        }
    }
}


@media screen and (max-width:600px){
    .footer{
        &-social{
            display: block;
        }
    }
}